/*default style*/

body {
  font: 16px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}


/*global*/
i{
  color:#fff;
}
i:hover{
  color:#808080;
}
img {
  width: 200px;
  padding: 10px;
}


/*header*/

header {
  background: #37474f;
  color: #fff;
  border-bottom: 3px solid #ff6d00;
  vertical-align: middle;
}

.heading {
  margin: auto;
}


/*Content*/

section {
  margin: 20px;
}


/*.left is a class to make the contents align next to each other*/

.left {
  float: left;
}

.box {
  display: inline-block;
  text-align: center;
}

.box-img {
  width: 78px;
}
/*footer*/


footer{
  border-top: 3px solid #ff6d00;
  background: #37474f;
  color: #fff;
}


/*meadia queries to make the site responsive*/

@media(max-width: 576px) {

  .left {
    float: none;
  }

  .heading {
    text-align: center;
  }

  .logo {
    display: block;
    margin: auto;
  }

  .about-img {
    width: 100%;
  }
  .footer-text{
    text-align: center;
  }
}
